<div
  class="tab-pane fade show active"
  id="show"
  role="tabpanel"
  aria-labelledby="show-tab"
>
  <div class="card shadow py-4 mt-2">
    <div class="card-body">
      <div class="table-responsive">
        <div class="tab-content" id="nav-tabContent">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>No</th>
                <th>Title</th>
                <th>Price</th>
                <th>Country</th>
                <th>City</th>
                <th>Action</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
